<div class="span3">
    <div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="active"><a href="/Dashboard/Index">Dashboard</a></li>
    </ul>
    </div><!--/.well -->
</div><!--/span-->
